version: '3'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpass
      POSTGRES_DB: de_db
    ports:
      - "5432:5432"
    volumes:
      - dcdb_data:/var/lib/postgresql/data
volumes:
  dcdb_data:
